#content{
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-template-areas: 
    ". . ."
    ". content ."
    ". . .";
    grid-template-rows: 20% auto 20%;
    height: 100vh;

    >div{
        grid-area: content;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        

        svg{
            width: 75%;
            
        }
        #secondsequence1, #secondsequence2, #secondsequence3, #secondsequence4, #diamond1, #diamond2, #diamond3, #diamond4, #grow1, #grow2, #grow3, #grow4, #grow5, #grow6, #grow7, #grow8, #final1, #final2, #final3, #final4, #final5, #final6, #final7, #final8, #final9, #final10, #final11, #final12, #final13, #final14, #final16, #s, #y, #n, #a, #p, #s2, #e {visibility: hidden;}
    }
}