#section-3 {
	background-color: var(--green);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../img/swisstrain.jpg");
	background-size: cover;
}
