#section-2{
    background-color: var(--red);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;

    #box{
        height: 100px;
        width: 100px;
        background-color: var(--white);
        border: 3px solid var(--charcoal);
        display: flex;
        align-items: center;

        p{
        font-size: 20px;
        text-align: justify;
        display: flex;
        margin-top: auto;
        margin-bottom: 200px;
        margin-left: 30%;
        margin-right: 30%;
}
}
}