#section-1{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/hero.jpg");
    background-size: cover;

    h1{
        font-family: 'Teko', sans-serif;
        color:var(--red);
    }
    
}