/* =============
    Buttons
============= */
#button {
    background-color: beige;
    margin: auto;
    border-radius: 14px;
    font-family: "Playfair Display";
    padding: 10px;

    &:hover {
        background-color: black;
        color: white;
    }
}